
.serve-input input{
  width: 400px;
  outline: none;
  border: 1px solid rgb(209, 209, 209);
  padding: 1em 2em;
  font-size: 1em;
  letter-spacing: 1px;
  font-weight: 500;
  
}

@media screen and (max-width:426px) {
  .serve-input input{
    width: 100% ;
    padding: 1em 1.4em ;
  }
}