.stepper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  
}
.stepper hr{
  width: 30%;
}

.stepper-item{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.stepper-item-id{
  background-color: #85c4f1;
  width: 3em;
  height: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  border-radius: 50%;
  margin: 0.6em 0;
  font-weight: 500;
  font-size: 1.2em;
}
.stepper-item-id:hover {
  background-color: #02375e;
}