.home{
  background-image: linear-gradient(to bottom, rgba(228, 228, 228, 0.2), rgba(13, 20, 48, 0.73)), url('../../images/home_image.jpg');
  height: 600px;
  background-position: center;  
  background-size: cover;
  text-align: center;
}
.home__tagline{
  margin: 0 auto;
  padding-top: 12rem;
  
}
.home h1{
  color: rgb(245, 245, 245);
  letter-spacing: 1.5px;
  
  font-size: 2.5rem;
}
.home p{
  font-size: 1.5rem;
  font-weight: 300;
}
.home p {
  color: white;
}
.home__action{
  margin-top: 3rem;
}
.home__action a{
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
  letter-spacing: 1.5px;
  border: 1px solid #fff;
  border-radius: 12px;
  padding: 1em 1.5em;
  transition: ease-in 0.2s;
}
.home__action a:hover{
  color: #02375e;
  background: #fff;
  transition: ease-in 0.2s;
}

.home__extra{
  height: 80px;
  background: #02375e;
  text-align: center;
  
}
.home__extra h1{
  padding-top: 20px;
  color: white;
  letter-spacing: 1.2px;
  
}
.flex-container {
  display: flex;
  background-color: white;
  height: 500px;
  
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 100px;
}

.flex-container > div {
  background-color: white;
  margin: 10px;
}

.img1{
  background-image: url('../../images/home_history_img1.jpg');
  background-repeat: no-repeat, repeat;
  background-size: cover;
  background-position: center; 
  height: 380px;
  width: 27%;
  border-radius: 5px;
  transition: ease-in 0.2s;
}
.img1:hover, .img2:hover{
  transform: scale(1.1,1.1);
}
.img2{
  background-image: url('../../images/home_history_img2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; 
  height: 300px;
  width: 27%;
  border-radius: 5px;
  transition: ease-in 0.2s;
}
.text{
  height: 380px;
  width: 50%;
  padding-left: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.text h1{
  color: #02375e;
  /* color: black; */
  font-weight: 400;
  letter-spacing: 1.2px;

}
.paragraph {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.paragraph p{
  color: rgb(65, 63, 63);
  letter-spacing: 1.3px;
  text-align: justify;
  line-height: 1.5;
}
.extra{
  height: 100px;
}

.paragraph__read-more{
  display: flex;
}
.paragraph__read-more p {
  padding: 0 1.5em;
  color: #02375e;
  cursor: pointer;
}
.arrow{
  color: #02375e !important;
  font-size: 1rem !important;
  transform: scale(5,1.2);
  margin-left: 1.2em;
}