.action {
  width: 40px;
  height: 40px;
  z-index: 200;
  background: #2b6b68;;
  position: relative;
  top: 290px;
  right: 0;
  transition: 0.2s;
  -webkit-box-shadow: -2px 2px 5px 0px rgba(50, 50, 50, 0.7);
-moz-box-shadow:    -2px 2px 5px 0px rgba(50, 50, 50, 0.7);
box-shadow:         -2px 2px 5px 0px rgba(50, 50, 50, 0.7);
}
.action_call {
  width: 40px;
  height: 40px;
  display: flex;
  flex-direction: row;
  background-color: white;
  z-index: 200;
  position: relative;
  top: 300px;
  right: 0;
  -webkit-box-shadow: -2px 2px 5px 0px rgba(50, 50, 50, 0.7);
  -moz-box-shadow:    -2px 2px 5px 0px rgba(50, 50, 50, 0.7);
  box-shadow:         -2px 2px 5px 0px rgba(50, 50, 50, 0.7);
  transition: 0.2s;
}
.action_call p {
  display: none;
}
.action_call svg {
  margin: 7px 8px;
  font-size: 1.5em;
  color: #2b6b68;
}
/* .action:hover {
  
  width: 300px;
  height : 300px;
  transition: 0.5s;
  z-index: 300;
  
} */
.action_call:hover p {
  display: block;
  color: #2b6b68;
  padding: 10px 5px;
}
/* .action:hover svg {
  display: none;
} */
.action svg {
  font-size: 2em;
  margin:2px 2px;

}
.action__icon{
  margin: 0 auto;
  color: white;
}

.action_call:hover{
  width: 150px;
  height: 40px;
  transition: 0.2s;
}

.sidebar{
  width: 300px;
  height: 100vh;
  /* position: absolute; */
  right: 0;
  background: white;
  transition: ease-in 2s;
  -webkit-box-shadow: -2px 2px 5px 0px rgba(50, 50, 50, 0.7);
  -moz-box-shadow:    -2px 2px 5px 0px rgba(50, 50, 50, 0.7);
  box-shadow:         -2px 2px 5px 0px rgba(50, 50, 50, 0.7);
}

.side_panel{
  position: fixed;
  right: 0;
  top: 0;
  display: flex;
  flex-direction: row;
  z-index: 400;

}
.sidebar{
  margin-top: 65px;
}
.sidebar1{
  display: flex;
  flex-direction: row;
  height: 100px;
  width: 300px;
  
  
}
.company_logo{
  margin-top: 25px;
  padding-left: 10px;
  height: 50px;
  width: 80px;
}
.sidebar1_name{
  padding-left:5px;
  margin-top: 45px;
  
}
.sidebar1_name_p1{
  color: rgb(121,173,47);
  font-weight: 600;
  padding-left: 5px;
  font-size: 20px;
  padding-right: 10px;
}
.sidebar2{
  
  height: 50px;
  width: 300px;
 
}
.sidebar2_heading{
  height: 50px;
  width: 300px;
  
  
}
.sidebar2_heading_p{
  color: rgb(76,74,70);
  font-weight: 600;
  font-size: 20px;
  padding-left: 30px;
}
.sidebar3_img1{
  height: 120px;
  width: 300px;
  padding-left: 30px;
  padding-right: 30px;

}
.sidebar3_label_p{
  margin-top: 2px;
  color: rgb(175, 175, 174);
  font-weight: 500;
  font-size: 13px;
  padding-left: 30px;
}
.sidebar3_label_p:hover{
  color:rgb(102, 102, 100);
}
.sidebar4{
  margin-top: 30px;
}

.sidebar4_img1{
  height: 120px;
  width: 300px;
  padding-left: 30px;
  padding-right: 30px;
  

}
/* .sidebar4_label_p{
  margin-top: 2px;
  color: rgb(175, 175, 174);
  font-weight: 500;
  font-size: 13px;
  padding-left: 30px;
}
.sidebar4_label_p:hover{
  color:rgb(102, 102, 100);
} */
.sidebar_button{
  position:fixed;
  bottom:0.1px;
  height: 40px;
  width:300px;
  background-color: rgb(121,173,47);
  padding-top: 13px;
  text-align: center;
  color: white;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;

}
.sidebar_button a{
  text-decoration: none;
  color: white;
  letter-spacing: 1.5px;
  transition: ease-in 0.2s;
  
}
.sidebar_button a:hover{
  color: rgb(121,173,47);
  transition: ease-in 0.2s;
  
}
.sidebar_button:hover{
  background-color: rgb(76,74,70);
  color:rgb(121,173,47);
  transition: ease-in 0.2s;
}
.sidebar4_label a{
  text-decoration: none;
  letter-spacing: 1.5px;
  transition: ease-in 0.2s;
  margin-top: 2px;
  color: rgb(175, 175, 174);
  font-weight: 500;
  font-size: 13px;
  padding-left: 30px;
  
}
.sidebar4_label a:hover{
  color: rgb(102, 102, 100)
  
}