.team_intro_heading{
    font-size: 50px;
    margin-left: 250px;
    color: black;
    font-weight: 600;
    
}
.wrapper{
    padding: 20px 80px;
}
.team_intro1, .team_intro2, .team_intro3, .team_intro4{
    display: flex;
    height: 300px;
    width:100%;
    padding-left:250px;
    padding-right:200px;
    
}
.member1_img, .member2_img, .member3_img, .member4_img{
    height: 300px;
    width: 40%;
    background-color:black;
}
.member1_intro, .member2_intro, .member3_intro, .member4_intro{
    height: 300px;
    width: 40%;
    /* background-color: greenyellow; */
}
.extra_between{
    height:300px;
    width:10%;
    background-color:white;
}
.member4_img{
    background-image: url('../../images/divyanshi.jpg');
}
.member2_img{
    background-image: url('../../images/golu.jpg');
}
.p1{
    color: rgb(82, 81, 81);
    font-weight: 600;
}
.name{
    color: rgb(44, 43, 43);
    font-size: 20px;
    font-weight: 600;
}
.introduction{
    color: rgb(82, 81, 81);
    font-size:13px;
}
.banner2{
    display: flex;
    flex-direction: row;
    height: 200px;
    width: 100%;
    background-color:#c5e1f5;
    
}
.durability, .modern, .professional{
    height: 200px;
    width: 33.33%;
    padding-top: 130px;
    
}
.banner2_1{
    font-size:20px;
    color:#02375e;
    font-weight: 800;
    text-align: center;
}
.banner2_2{
    font-size:15px;
    color:#727374;
    font-weight: 500;
    text-align: center;
}
.p_quote{
    text-align: center;
    color:rgb(153, 150, 150);
    font-size: 15px;
    font-weight: 500;
}
.extra_small{
    height:50px;
    width:100%;
}
.out{
    display: flex;
    height: 500px;
    width:100%;
    background-color: #727374;
    justify-content: space-evenly;
}
.person1{
    height:500px;
    width:25%;
    background-color: white;
}
.person2{
    height:500px;
    width:25%;
    background-color:white;
}
.person3{
    height:500px;
    width:25%;
    background-color:white;
}
.person4{
    height:500px;
    width:25%;
    background-color: white;
    position: relative;
}

.extra_out{
    height:500px;
    width:5%;
    background-color: white;
}
.person1_img{
    height: 250px;
    width:100%;
    background-image: url('../../images/golu.jpg');
}
.person2_img{
    height: 250px;
    width:100%;
    background-image: url('../../images/golu.jpg');
}
.person3_img{
    height: 250px;
    width:100%;
    background-image: url('../../images/golu.jpg');

}
.test_border{
    width: 100%;
    position: relative;
    z-index: 100;
}
.about_img{
    height: 250px;
    width:100%;
    z-index: 100;
    object-fit: cover;
}
.test_border::after{
    content: '';
    position: absolute;
    background:#2b6b68;
    width: 150px;
    top:-13px;
    height: 60%;
    /* width: 50%; */
    left: -13px;
    z-index: -1;
}
.person4_img{
    height: 250px;
    width:100%;
    background-image: url('../../images/divyanshi.jpg');

}
.person_p{
    color: rgb(102, 101, 101);
    font-weight: 600;
    /* text-align: center; */
}
.person_name{
    color: rgb(44, 43, 43);
    font-size: 20px;
    font-weight: 600;
    /* text-align: center; */
}
.person_introduction{
    color: rgb(110, 110, 110);
    font-size:13px;
    /* text-align: center; */
}

.about_heading{
    display: grid;
    grid-template-columns: 300px 1fr;
    padding-bottom: 8rem ;
    padding-top: 4rem;
}
.about_left{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.about_left h1{
    font-size: 4rem;
    color: #070c1f;
    font-weight: 600;
}
.about_left h4 {
    font-size: 2rem;
    font-weight: 500;
    color: #6b6b6b;
    letter-spacing: 1px;
}
.about_left p {
    text-align: justify;
    letter-spacing: 1.2px;
    line-height: 1.5;
    color: #070c1f;
}
.about_right{
    display: flex;
    position: relative;
    justify-content: center;
}
.image_container1{
    position: relative;
}
.image_container1::after{
    content: '';
    position: absolute;
    background:#2b6b68;
    width: 100px;
    bottom:-7px;
    height: 40%;
    /* width: 50%; */
    left: -11px;
    z-index: -1;
}
.image_container2{
    position: absolute;
    top: 30%;
    left: 60%;
}
.image_container2::after{
    content: '';
    position: absolute;
    background:#2b6b68;
    width: 100px;
    bottom:-7px;
    height: 40%;
    /* width: 50%; */
    right: -11px;
    z-index: -1;
}
.image_container1 img, .image_container2 img{
    height: 300px;
    
}