/* .App {
  text-align: center;
}
 */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}
.main-wrapper{
  padding-top: 65px;
}
/* .app{
  height: 100vh;
  width:100%;
  display:flex;
  justify-content: center;
  align-items:center;
} */